# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Java
*.class
*.jar

# Maven
dependency-reduced-pom.xml

# Eclipse
.classpath
.project
local.properties
.settings/

# log Files
*.log
*.log.age

# Intellij
.idea/

# Mac
.DS_Store
