# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Java
*.class
*.jar

# Maven
dependency-reduced-pom.xml

# Eclipse
.classpath
.project
local.properties
.settings/

# Tool log Files
*.log

# Intellij
.idea/

# Mac
.DS_Store
